/* Whole document */
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 800px;
    margin: auto;
    background: #FFFFFF;
    padding: 10px 10px 10px 10px;
}

h1 {
    font-size: 55px;
    color: #757575;
    text-align:center;
    margin-bottom:15px;
}

/* Titles of categories */
h3 {
    color: #757575;
}
/* There is a bar just before each category */
h3:before {
    content: "";
    display: inline-block;
    margin-right:1%;
    width: 5%;
    height: 10px;
    background-color: #757575;
}

/* Links */
a {
    text-decoration: none;
    color: #268bd2;
}
a:hover, a:active {
    background-color: #268bd2;
    color: #FFFFFF;
    text-decoration: none;
    text-shadow: 1px 1px 1px #333;
}

/* Horizontal separators */
hr {
    color: #A6A6A6;
}

ul li {
    line-height: 24px;
}
